<div class="fl admin-left">
    <div class="operation">
        <h3>操作</h3>
        <ul>
            <li>
                <a href="">添加新随笔</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="categary">
        <h3>分类</h3>
        <ul>
            <li><a href="">[编辑分类]</a></li>
            <li><a href="">[所有分类]</a></li>
            <li><a href="">css</a></li>
            <li><a href="">html</a></li>
            <li><a href="">javascript</a></li>
        </ul>
    </div>
</div>