<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>Keven</title>


    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1"/>
    <meta name="keywords" content="" />
    <meta name="description" content="关于自己的一些想法，书和技术" />
    <meta name="renderer" content="webkit"/><!--[if lt IE 9]><script type="text/javascript" src="html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--><!--[if IE]><link href="/template/sass/ie.scss" type="text/css" rel="stylesheet"/>
<![endif]-->
<link href="/sass/normalize.scss" type="text/css" rel="stylesheet"/>
<link href="/sass/screen.scss" type="text/css" rel="stylesheet"/>

  </head>
  <body>
    <div id="wrap">
      <header id="header" class="cf">
        <div class="logo"><a href="/">blog of zhichao</a>
        </div>
        <nav class="main-nav">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/album">Photos</a></li>
          </ul>
        </nav>
      </header>
      <div id="main" class="cf">


<div class="primary">
  <article class="post">
    <header>
      <h2><a href="/post/2014-05-06-2" >轻量级图标测试工具ICON STRIKE:快速主屏查看</a>
      </h2>
      <div class="entry-meta"><span><i class="fa fa-calendar">&nbsp;</i>2014-05-06
</span><span class="count"><i class="fa fa-book"></i>&nbsp;<!--fb:7e711d090b61058de08e3a88cb20b3fd:visits-->103<!--/fb-->
</span>
      </div>
    </header>
    <div class="entry"><p>这两天选icon，想起来有这么个网站可以快速在手机上查看效果。给大家推荐了一下，人人都说好。</p>

<h2 id="toc_0"><a href="https://www.flinto.com/strike">纯html实现 直接进网页连接https://www.flinto.com/strike</a></h2>

<p><img src="http://ww1.sinaimg.cn/large/4e6a5044tw1efwj7ne30pj20n50rqn0c.jpg" alt=""></p>

<h3 id="toc_1">Icon Strike+DeskConnect实现快速查看</h3>

<p><img src="http://ww1.sinaimg.cn/large/4e6a5044tw1efwjfl100nj20mm0dh0uo.jpg" alt=""></p>

<ul>
<li>拖动图标到框里</li>
</ul>

<p><img src="http://ww3.sinaimg.cn/large/4e6a5044tw1efwjh0lypcj20la0873zt.jpg" alt=""></p>

<ul>
<li>可以通过邮件，短信和手工复制连接的方式，把生成的连接发到手机上</li>
</ul>

<p><img src="http://ww4.sinaimg.cn/large/4e6a5044tw1efwjjrge1kj20m808w400.jpg" alt=""></p>

<ul>
<li>复制连接</li>
</ul>

<p><img src="http://ww1.sinaimg.cn/large/4e6a5044tw1efwjku50xij206i07iq39.jpg" alt=""></p>

<ul>
<li>发送到DeskConnect上的设备中。关于DeskConnect请看这里</li>
</ul>

<p><a href="http://jianshu.io/p/2012c78e7e4f">DeskConnect-真正的实现快速简单在Mac和iOS传文件</a></p>

<h3 id="toc_2">下面操作在iPhone或iPad上实现</h3>

<p><img src="http://ww1.sinaimg.cn/large/4e6a5044tw1efwjpn3achj207i0dcaa9.jpg" alt=""></p>

<ul>
<li>打开连接，点击按钮</li>
</ul>

<p><img src="http://ww2.sinaimg.cn/large/4e6a5044tw1efwjqcnva4j207i0dcq3d.jpg" alt=""></p>

<ul>
<li>添加到主屏</li>
</ul>

<p><img src="http://ww2.sinaimg.cn/large/4e6a5044tw1efwjqp4stcj207i0dcdgd.jpg" alt=""></p>

<ul>
<li>还可以改个名字</li>
</ul>

<p><img src="http://ww4.sinaimg.cn/large/4e6a5044tw1efwjr0s1mmj207i0dc3zn.jpg" alt=""></p>

<ul>
<li>就可以看效果了。（顺便秀下我的首屏和逗比女儿……）</li>
</ul></div>
<div id="fb_comments_container">
  <link rel="stylesheet" href="/sass/comment.css?version=780d55f951"/>
  <ul id="fb_comments">
  </ul>
  <form id="fb_new_comment" method="post" action="#fb_new_comment"><textarea name="content"></textarea>
    <div class="input_body">
      <ul>
        <li>
          <label>Name:</label>
          <input type="text" name="author" value="" />
        </li>
        <li>
          <label>Email:</label>
          <input type="text" name="email" value="" />
        </li>
        <li>
          <label>Site:</label>
          <input type="text" name="site" value="" />
        </li>
        <li>
          <input id="c_submit" type="submit" value="Comment" class="c_button"/>
        </li>
      </ul>
    </div>
  </form>
</div>

  </article>
</div>
<div class="sider">
  <aside>
    <h3><i class="fa fa-magic"></i><span>&nbsp; Recent Articles</span>
    </h3>
    <ul class="recent_posts">


      <li class="listing-item"><a href="/post/books/liang-ben-ru-men-wu-li-pian-shii-an-xiang"  title="#两本入门#物理篇：时间的形状相对论史话和量子物理史话" >#两本入门#物理篇：时间的形状相对论史话和量子物理史话</a>
      </li>
      <li class="listing-item"><a href="/post/books/liang-ben-ru-men-fa-lu-pian-fa-lu-dao-cao-ren-he-bian-hu-de-yi-zhu"  title="两本入门#法律篇:法律稻草人和辩护的艺术" >两本入门#法律篇:法律稻草人和辩护的艺术</a>
      </li>
      <li class="listing-item"><a href="/post/2014-05-06"  title="2014-05-06" >2014-05-06</a>
      </li>
      <li class="listing-item"><a href="/post/2014-05-06-2"  title="轻量级图标测试工具ICON STRIKE:快速主屏查看" >轻量级图标测试工具ICON STRIKE:快速主屏查看</a>
      </li>
      <li class="listing-item"><a href="/post/2014-05-06-1"  title="Facebook Paper的动画原型制作工具Origami及实现代码Pop" >Facebook Paper的动画原型制作工具Origami及实现代码Pop</a>
      </li>
      <li class="listing-item"><a href="/post/2014-05-06-3"  title="《高效学习》登上简书热门第二名" >《高效学习》登上简书热门第二名</a>
      </li>
    </ul>
  </aside>
</div>



      </div>
      <footer id="footer">
        <div class="footer-right"><a href="/template" title="Clone Template"><i class="fa fa-cloud-download"></i></a>
        </div>
        <div class="copyright">Powered by &nbsp;<a href="https://www.farbox.com" target="_blank">FarBox &nbsp;</a>Theme by <a href="http://motype.org">Deepure</a> . Thanks for
<a href="http://fontawesome.io/">Fontawesome</a>&nbsp; &
<a href="http://dropbox.com/">Dropbox</a>
        </div>
      </footer>
      <!-- for duoshuo recent comments-->
    </div>
  </body>
</html>