<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/all.min.css">
</head>
<body id="tools">
    <div class="header">
        开发工具
        <a class="fr" href="mailto:ganzwen@gmail.com">用户反馈</a>
    </div>
    <div class="content">
        <ul>
            <li>
                <div class="flag">
                    <img src="/images/json.jpg" alt="json" title="json">
                </div>
                <div class="description">
                    <ul>
                        <li>
                            <a href="/tools/json.do" target="_blank" class="t_title">JSON生成器</a>
                        </li>
                        <li>
                            <div class="intro">根据创建的树形数据结构，生成json数据，支持修改、删除数据，可以将生成的数据放到剪切版中。</div>
                        </li>
                        <li>
                            <div class="tags">标签：JSON</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="flag">
                    <img src="/images/csv.jpg" alt="json" title="json">
                </div>
                <div class="description">
                    <ul>
                        <li>
                            <a href="/tools/json_download.do" class="t_title">JSON下载</a>
                        </li>
                        <li>
                            <div class="intro">将JSON数据以csv文件下载到本地</div>
                        </li>
                        <li>
                            <div class="tags">标签：JSON、CSV</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="flag">
                    <img src="/images/json.jpg" alt="json" title="json">
                </div>
                <div class="description">
                    <ul>
                        <li>
                            <a href="/tools/json_upload.do" class="t_title">JSON解析器</a>
                        </li>
                        <li>
                            <div class="intro">将上传的CSV文件解析成JSON数据</div>
                        </li>
                        <li>
                            <div class="tags">标签：JSON、CSV</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="flag">
                    <img src="/images/utf-81.jpg" alt="json" title="json">
                </div>
                <div class="description">
                    <ul>
                        <li>
                            <a href="" class="t_title">JSON生成器</a>
                        </li>
                        <li>
                            <div class="intro">根据创建的树形数据结构，生成json数据，支持修改、删除数据，可以将生成的数据放到剪切版中。</div>
                        </li>
                        <li>
                            <div class="tags">标签：JSON</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="flag">
                                    <img src="/images/json.jpg" alt="json" title="json">
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>
                                            <a href="" class="t_title">生成二维码</a>
                                        </li>
                                        <li>
                                            <div class="intro">根据创建的树形数据结构，生成json数据，支持修改、删除数据，可以将生成的数据放到剪切版中。</div>
                                        </li>
                                        <li>
                                            <div class="tags">标签：JSON</div>
                                        </li>
                                    </ul>
                                </div>
            </li>
        </ul>
    </div>
{{ include ../main/include-foot.html }}
</body>
</html>