<!DOCTYPE HTML>
<html>

<head>
  <title>夕阳白雪</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/all.min.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/lib/modernizr/modernizr-1.5.min.js"></script>
</head>

<body id="homepage">
  <header>
    <div id="logo"><h1>夕阳<a href="/infor.do">XIYANGBAIXUE</a>白雪</h1></div>
    <nav>
      <ul class="lavaLampWithImage" id="lava_menu">
        <li class="current"><a href="/">首 页</a></li>
        <li><a href="/blog/essays.do">博 客</a></li>
        <li><a href="/questions.do">问 答</a></li>
        <!-- <li><a href="/webapp.do">webapp</a></li> -->
        <li><a href="/tools/index.do">在线工具</a></li>
        <li><a href="/handlerbook.do">手册</a></li>
        <li><a href="/plugin.do">jquery插件</a></li>
        <li><a href="/games.do">游戏</a></li>
        <li><a href="/infor.do">关于我</a></li>
      </ul>
    </nav>
  </header>
  <div id="main">
    <div id="site_content">
      <div id="sidebar_container">
        <div class="gallery">
          <ul class="images">
            <li class="show"><img width="950" height="450" src="images/a.jpg" alt="photo_one" /></li>
            <li><img width="950" height="450" src="images/b.jpg" alt="photo_two" /></li>
            <li><img width="950" height="450" src="images/c.jpg" alt="photo_three" /></li>
            <li><img width="950" height="450" src="images/d.jpg" alt="photo_four" /></li>
            <li><img width="950" height="450" src="images/e.jpg" alt="photo_five" /></li>
          </ul>
        </div>
      </div>
      <!-- <div id="content">
        <h1>Welcome to My Portfolio Two</h1>
        <p>This standards compliant, fixed width website template is released as an 'open source' design (under a Creative Commons Attribution 3.0 Licence), which means that you are free to use it for anything you want (including modifying and amending it). All I ask is that you leave the '网页模板' link in the footer of the template.</p>
        <p>The template uses a lavalamp menu (based on jQuery) from <a href="http://www.gmarwaha.com/blog/2007/08/23/lavalamp-for-jquery-lovers/">here</a>. All of the images were shot by me - use as you wish.</p>
        <h2>Browser Compatibility</h2>
        <p>This template has been tested in the following browsers:</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 10</li>
          <li>Google Chrome 17</li>
        </ul>
      </div> -->
    </div>
    <footer>
      <p>Copyright &copy; 2015 夕阳白雪 , All Rights Reserved. &nbsp;</p>
      <p>邮箱：<a href="mailto:ganzwen@gmail.com">ganzwen@gmail.com</a>  Designed By：<a href="/infor.do  ">xiyangbaixue</a> </p>
    </footer>
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/lib/jquery/src/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery/plugin/jquery.easing.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery/plugin/jquery.lavalamp.min.js"></script>
  <script type="text/javascript" src="js/lib/modernizr/image_fade.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
  </script>
</body>
</html>
