{{ include include-head.html }}
<style>
.head {
    margin: 10px 10px;
    background-color: #E8E8E8;
    border: 1px solid #888888;
    height: 50px;
}
    .index .head .nav{display:block;zoom:1;overflow:hidden;width:80%;margin:0 auto;}.index .head .nav li{text-align:center;width:100px;float:left;border-right: 1px solid #888888;height: 50px;line-height: 50px;}

</style>
<input type="hidden" id="dispatcher" value="index">
<div class="index">
    <div class="head">
        <ul class="nav">
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <li><a href="">栏目</a></li>
            <!-- <li><a href="">首页</a></li>
            <li><a href="">博文</a></li>
            <li><a href="">新闻</a></li>
            <li><a href="">博问</a></li>
            <li><a href="">手册</a></li>
            <li><a href="">在线工具</a></li>
            <li><a href="">游戏</a></li>
            <li><a href="">关于我</a></li> -->
        </ul>
    </div>
</div>




<!-- <a href="jqueryHandler.html">jquery</a> -->
<!-- <a href="javascriptHandler.html">javascript</a> -->
<!-- <a href="css3.html">css3</a> -->
{{ include include-foot.html }}
