<div class="footer">
    <div>
        文章信息
    </div>
    <ul>
        <li>
            标签：
        </li>
        <li>
            转载：
        </li>
        <li>
            版权：
        </li>
    </ul>
</div>
<div>
    <div>
        上一篇：<a href="">不知道</a>
    </div>
    <div>
        下一篇：<a href="">不知道</a>
    </div>
</div>
<div>
    分享：
</div>
<div class="fr">
    posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
</div>
<div class="comment">
    <h5>评论:</h5>
    <ul>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">引用</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">引用</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">引用</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">引用</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">引用</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
        <li>
            <div class="fl">#1楼 不知道 | 2015-01-31</div>
            <div class="fr">{{- title }}</div>
            <div class="content clr">
                不知道不知道不知道不知道
            </div>
        </li>
    </ul>
</div>
<div class="info">
    <h5>我要评论：</h5>
    <form action="">
        <label for="">尊姓大名：<input type="text"><span><em class="rmk">*</em>必填</span></label>
        <label for="">电子邮件：<input type="text"><span><em class="rmk">*</em>必填，不公开</span></label>
        <label for="">个人网站：<input type="text"><span><em class="brmk"></em>我信任你，不会填写广告链接</span></label>
    </form>
</div>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
<div class="commit">
    <script id="editor" type="text/plain" style="width:800px;height:200px;"></script>
</div>
<script>
    var ue = UE.getEditor('editor', {
        toolbars: [
            ['emotion', 'blockquote']
        ],
        autoHeightEnabled: false,
        autoFloatEnabled: true,
        maximumWords: 300,
        elementPathEnabled : false
    });
</script>
<div style="text-align:right;">
    <span class="btn">提交</span>
</div>


