<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博文</title>
    <link rel="stylesheet" href="/less/all.css">
</head>
<body id="blog">
    <header id="header">
        <div class="fl">夕阳白雪</div>
        <div class="fr">asdfasdf</div>
    </header>
    <nav id="navigator">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/blog/essays.do">随笔</a></li>
            <li><a href="/blog/article.do">文章</a></li>
            <li><a href="/blog/diary.do">日记</a></li>
            <li><a href="/blog/news.do">新闻</a></li>
            <li><a href="/admin">管理</a></li>
        </ul>
    </nav>
</body>
</html>