<div class="time">
    <script src="/js/lib/time/honehone_clock_tr.js"></script>
</div>
<div class="search">
    <h3>搜索</h3>
    <label for="" class="blk"><input type="text"><span class="btn w80">找找看</span></label>
    <label for="" class="blk"><input type="text"><span class="btn w80">谷歌搜索</span></label>
</div>
<div>
    <h3>常用链接</h3>
    <ul>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>
<div>
    <h3>随笔分类</h3>
    <ul>
        <li><a href="">html</a></li>
        <li><a href="">css</a></li>
        <li><a href="">javascript</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>
<div>
    <h3>阅读排行版</h3>
    <ul>
        <li>1. <a href="">阅读排行榜</a>(10000)</li>
        <li>2. <a href="">阅读排行榜</a>(6000)</li>
        <li>3. <a href="">阅读排行榜</a>(6000)</li>
        <li>4. <a href="">阅读排行榜</a>(6000)</li>
        <li>5. <a href="">阅读排行榜</a>(6000)</li>
    </ul>
</div>
<div>
    <h3>评论排行榜</h3>
    <ul>
        <li>1. <a href="">阅读排行榜</a>(10000)</li>
        <li>2. <a href="">阅读排行榜</a>(6000)</li>
        <li>3. <a href="">阅读排行榜</a>(6000)</li>
        <li>4. <a href="">阅读排行榜</a>(6000)</li>
        <li>5. <a href="">阅读排行榜</a>(6000)</li>
    </ul>
</div>