{{ include blog-head.html }}
<input type="hidden" id="dispatcher" value="article-list">
<div class="inbl article-list">
    <ul>
        <li>
            <h3><a href="/detail/0">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="/detail/0">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
        <li>
            <h3><a href="">这是文章标题，这是文章标题</a></h3>
            <div class="content">
                <p>
                    当前web届，绝大多数的页面间布局都是水平居中布局，主体定个宽度，然后margin: 0 auto的节奏，然而，这种布局有一个存在一个影响用户体验的隐患。应该都知道，现代浏览器滚动条默认是overflow:auto类型的，也就是如果尺寸不足一屏，没有滚动条；超出，出现滚动条。于是，问题来了，当内容加载从不足1屏到超过1屏，页面就会跳动！有没有什么好办法呢？本文就将介绍一个简单实用的技能tips, follow me…
                </p>
            </div>
            <div class="detail">
                <a href="">阅读全文…</a>
            </div>
            <div class="fr">
                posted @ 2015-01-21 14:16 夕阳白雪 阅读(139) 评论(0)
            </div>
            <div class="border clr"></div>
        </li>
    </ul>
    <div>
        {{ include ../main/pagination.html }}
    </div>
</div>
<div class="fr">
    {{ include blog-left.html }}
</div>
{{ include ../main/include-foot.html }}

