<div>
    <h3>搜索</h3>
    <label for=""><input type="text">找找看</label>
</div>
<div>
    <h3>常用链接</h3>
    <ul>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>
<div>
    <h3>随笔分类</h3>
    <ul>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>
<div>
    <h3>阅读排行版</h3>
    <ul>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>
<div>
    <h3>评论排行榜</h3>
    <ul>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
        <li><a href="">不知道</a></li>
    </ul>
</div>