@import "common";

/* 博客页 */
#blog {
    header {
        .pclr;
        height: 50px;
        margin: 10px 30px 10px 30px;
        .fl {
            font: normal 180% '雅黑', arial, sans-serif;
        }
    }
    nav {
      text-align: center;
      height: 55px;
      background-color: #f8f8f8;
      border: 1px solid #e7e7e7;
      ul {
          .pclr;
          li {
              list-style: none;
              .w120;
              .fl;
              a {
                display: inline-block;
                width: 100%;
                height: 55px;
                line-height: 55px;
                color: #777;
                &:hover {
                  color: black;
                }
              }
          }
          &:first-child {
            margin-left: 50px;

          }
      }
    }
    .article-list {
      width: 900px;
      border-right: 3px solid #e7e7e7;
      background-color: #fff;
      ul {
        margin: 30px 20px 0 50px;
        li {
          margin-bottom: 30px;
          h3 {
            margin-bottom:15px;
            a {
              color: #34538b;
              &:visited {
                color: #486aaa;
              }
              &:hover {
                color:#5890F7;
              }
            }
          }
          .content{
            text-indent: 20px;
            margin-bottom: 10px;
            height: 32px;
          }
          .detail {
            a {
              cursor: pointer;
              color: #34538b;
              &:visited {
                color: #486aaa;
              }
              &:hover {
                color:#5890F7;
              }
            }
          }
          .border {
              padding-top: 10px;
              height:15px;
              background:transparent;
              background-image:-webkit-gradient(linear,50% 0,0 100%,
                                                  from(transparent),
                                                  color-stop(.5,transparent),
                                                  color-stop(.5,#DAD6D3),
                                                  to(#DAD6D3)
                              ),
                              -webkit-gradient(linear,50% 0,100% 100%,
                                                  from(transparent),
                                                  color-stop(.5,transparent),
                                                  color-stop(.5,#DAD6D3),
                                                  to(#DAD6D3)
                              );
              background-image:-moz-linear-gradient(50% 0 -45deg,
                                          transparent,
                                          transparent 50%,
                                          #DAD6D3 50%,
                                          #DAD6D3
                              ),-moz-linear-gradient(50% 0 -135deg,
                                          transparent,
                                          transparent 50%,
                                          #DAD6D3 50%,
                                          #DAD6D3
                              );
              background-size:16px 8px;
              background-repeat:repeat-x;
              background-position:0 100%;
          }
        }
      }
    }
    // 文档详细页
    .article-detail {
      width: 900px;
      margin: 0 auto;
      padding: 20px 10px;
      // padding-top: 20px;
      background-color: #FFF;
      h2 {
        padding: 10px;
        color: #00b7e9;
      }
      .sub-title {
        text-align: right;
        width: 100%;
        color: #ccc;
        padding-bottom: 5px;
        border-bottom: 1px dashed #ccc;
        margin-bottom: 20px;
      }
      .scrollup {
        position: fixed;
        bottom: 50px;
        right: 15px;
        cursor: pointer;
        z-index: 999999;
        display: none;
        opacity: 1;
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/images/scrollup.png) no-repeat center;
      }
    }
    // 文档详细页底部
    .article-footer {
      .footer {
        margin-top: 20px;
        padding: 20px 10px;
        border-radius: 10px;
        background-color: #CACACA;
        margin-bottom: 10px;
      }
      .comment {
        .clr;
        margin-top: 20px;
        h5 {
          padding: 3px;
          border-bottom: 1px solid #C0BEBE;
        }
        ul {
          li {
            margin-top: 20px;
            .content {
              padding:20px;
            }
          }
        }
      }
    }
    .nav_scroll{
      position:fixed;
      width:100%;
      margin:0;
      left:0;
      top:0;
    }

}

// 后台管理页
#admin {
  border-top: 3px solid #6B86B3;
  border-bottom: 3px solid #6B86B3;
  height: 80px;
  & > .fl {
    font-size: 30px;
    line-height: 80px;
  }
}

// 分页
.pagination {
  .fr;
  margin: 20px;
  span {
    display: inline-block;
    // padding: 3px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #9aafe5;
    color: #075DB3;
    margin-right: 5px;
    a {
      color: #075DB3;
    }
  }
  & > a {
    display: inline-block;
    // padding: 3px;
    width: 45px;
    height: 18px;
    line-height: 18px;
    border-radius: 18px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #9aafe5;
    color: #075DB3;
  }
  .active {
    background-color: #075DB3;
    color: #fff;
  }
}


#handbooks {
  .handlerbook {
    margin-left: 150px;
    ul {
          .pclr;
          position: absolute;
          li {
            .w200;
            height: 200px;
            float: left;
            margin-right: 2px;
            margin-bottom: 2px;
          }
          li:hover {
            & > .tips {
              display: inline-block;
            }
          }
      }
  }
  .jquery a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: #fff url('/images/jquery.png') no-repeat;
      background-size: 200px 200px;
  }
  .javascript a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: #fff url('/images/javascript.png') no-repeat;
      background-size: 200px 200px;
  }
  .tips {
      .w200;
      display: none;
      height: 50px;
      line-height: 50px;
      text-align: center;
      position: relative;
      bottom: 52px;
      color: #fff;
      background-color: rgba(42, 42, 44, .8);
  }
  .nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      .w150;
      background-color: #51aded;
      .header {
          .w150;
          height: 150px;
          margin: 0 auto;
          margin-bottom: 15px;
          background: #51aded no-repeat url(/images/photo.png) left top;
          -webkit-background-size: 150px 150px;
          -moz-background-size: 150px 150px;
          background-size: 150px 150px;
          -webkit-border-radius: 75px;
          border-radius: 75px;
          -webkit-transition: -webkit-transform 2s ease-out;
          -moz-transition: -moz-transform 2s ease-out;
          -o-transition: -o-transform 2s ease-out;
          -ms-transition: -ms-transform 2s ease-out;
      }
      .header:hover {
          -webkit-transform: rotateZ(360deg);
          -moz-transform: rotateZ(360deg);
          -o-transform: rotateZ(360deg);
          -ms-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
      }
      ul {
        li {
          .w150;
          height: 25px;
          text-align: center;
          padding: 5px 0;
          line-height: 25px;
          a {
            color: #fff;
          }
          &:hover {
            background-color: rgb(50, 134, 205);
            outline: none;
            border: none;
          }
        }
      }
  }
}



